/* color palette from <https://github.com/vuejs/theme> */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
:root {
  --secondary:#FC6748;
  --primary:#443688;
  --black:#000000;
  --para-color:#363636;
  --red:#FE1149;
  --white:#fff;
  --bg-color:#F7F7F7;
}
/* *{
  
  font-family: 'Poppins', sans-serif;
} */